<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="layouts :: head"></head>
<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">

		<h3 class="mt-5">Projects Directory</h3>
		<hr />
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-4">New project</a>
		
		<table class="table table-bordered table-stripped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Stage</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${projects}">
					<td th:text="${p.name}"></td>
					<td th:text="${p.stage}"></td>
					<td th:text="${p.description}"></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>